* {
  margin:0;
  padding:0;
  box-sizing: border-box;

  font-family: 'Gamja Flower', cursive;
  text-align: center;
  background-color: #fffce8;
}

.App{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dogPic {
  max-width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  border: 3px solid #d4a373;
  border-radius: 25px;
}

h1 {
  color: #d4a373;
  font-size: 50px;
}

.dogButton {
  margin-top: 10px;
  border: 3px solid #d4a373;
  background-color: #e9edc9;
  color: #99a377;
  padding: 7px 20px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 25px;
}
.sourceButton {
  margin-top: 5px;
  border: 2px solid #99a377;
  background-color: #d4a373;
  color: #faffe9;
  padding: 3px 7px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #e9edc9;
  filter: blur(72px)
}



.dogLink {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  

  display: flex;
  justify-content: center;
  align-items: center;
}
.dogLink-contents {
  position: relative;
  padding: 25px;
  width: 70%;
  max-width: 640px;

  font-size: 20px;
  color: #faffe9;
  background-color: #99a377;
  border-radius: 25px;
  border: 3px solid #fffce8;
   filter: drop-shadow(10px 10px 4px #705438);
}
a:link, a:visited {
  color: #f7ffdd;
  background-color:#99a377;
}
.x-button {
  position: absolute;
  top: 16px;
  right: 16px;

  cursor: pointer;
  background-color: #e9edc9;
  color: #99a377;
  padding: 3px 8px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  border-radius: 25px;
}