* {
  font-family: 'Gamja Flower', cursive;
  text-align: center;
  background-color: #fffce8;
}

.dogPic {
  max-width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  border: 3px solid #d4a373;
  border-radius: 25px;
}

h1 {
  color: #d4a373;
  font-size: 50px;
}

.dogButton {
  margin-top: 10px;
  border: 3px solid #d4a373;
  background-color: #e9edc9;
  color: #99a377;
  padding: 7px 20px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 25px;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #e9edc9;
  filter: blur(72px)
}